<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>网易彩票2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52BEAF9F1BD2176A0054010B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BEAFB81BD2176A0054010B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BEAFC31BD2176A0054010B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
